# WiFi Settings
wifi_enabled: true
wifi_ssid: "CHANGE_ME"
wifi_password: "SUPER_SECRET_PASSWORD"

# IP Address Settings
static_ip: "192.168.1.100"       # optional
static_prefix: "24"              # z.B. 24 für 255.255.255.0
gateway: "192.168.1.1"           # optional
dns:                             # optional
  - "8.8.8.8"
  - "1.1.1.1"

# E-Mail Alert Settings
backup_alert_email: "YOUR@EMAIL.COM"   # optional, leer = kein Mailversand 
