- name: Lokale Basiskonfiguration
  hosts: local
  gather_facts: yes
  become: yes
  vars:
    local_user: "{{ lookup('env','USER') }}"
  vars_files:
    - group_vars/secrets.yml  # Explizit laden
  roles:
    - base
    - xibo-docker
    - xfce_kiosk
    #- xibo-player
