<?xml version="1.0" encoding="utf-8"?>
<cmsAddress>http://localhost</cmsAddress>
<key>yourserverkey</key>
<localLibrary>&quot;/home/xibo-display/snap/xibo-player/common/resources&quot;</localLibrary>
<username/>
<password/>
<domain/>
<displayId>2c40f5dcb3e09e68a6d6dfc816176f24</displayId>
