<?xml version="1.0" encoding="utf-8"?>
<cmsAddress>{{ xibo_cms_url }}</cmsAddress>
<key>{{ xibo_server_key }}</key>
<localLibrary>&quot;{{ kiosk_home }}/Documents&quot;</localLibrary>
<username>{{ xibo_username | default('') }}</username>
<password>{{ xibo_password | default('') }}</password>
<domain>{{ xibo_domain | default('') }}</domain>
<displayId>{{ xibo_display_id }}</displayId>
